.recommend-new-content {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 30px 25px;
    border: 1px solid #d3d3d3;
}
.recommend-new-lists {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.recommend-new-content::after {
    content: "";
    display: block;
    clear: both;
}
.recommend-new-content ul {
    padding: 5px;
}

.recommend-new-content li {
    float: left;
    margin-right: 10px;
    width: 118px;
    font-size: 12px;
}
.recommend-new-content li:last-child {
    margin-right: 0px;
}
.recommend-new-cover {
    display: block;
    margin-bottom: 5px;
    background-position: 0 -570px;
}
.recommend-new-content img {
    width: 100px;
    margin-right: 18px;
}
.recommend-new-name {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.recommend-new-name:hover {
    color: black;
}
.recommend-new-content p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}   

.recommend-new-content p a {
    color: #666;
}

.recommend-new-content .slick-arrow {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    margin-top: 0;
    transform: translateY(-50%);
    z-index: 1;
    background-image: url(../../../../../../assets/images/sprite_02.png);
    background-repeat: no-repeat;
}
.recommend-new-content .slick-arrow:hover,
.recommend-new-content .slick-arrow:focus {
    /* 还原antd样式的覆盖 */
    background-image: url(../../../../../../assets/images/sprite_02.png);
    background-repeat: no-repeat;
    
}
.recommend-new-content .slick-prev,
.recommend-new-content .slick-prev:focus {
    left: 10px;
    background-position: -260px -75px;
}

.recommend-new-content .slick-prev:hover {
    background-position: -280px -75px;
}
.recommend-new-content .slick-next,
.recommend-new-content .slick-next:focus {
    right: 10px;
    background-position: -300px -75px;
}

.recommend-new-content .slick-next:hover {
    background-position: -320px -75px;
}