// @import "@/assets/styles/reset.css";

.rcmd-singer-content {
    li {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #e9e9e9;
        background-color: #fafafa;
        border-radius: 3px;
        overflow: hidden;
        &:hover {
            background-color: #f4f4f4;
        }
        a {
            display: block;
        }
        .singer-avatar {
            width: 62px;
            height: 62px;
            vertical-align: top;
        }
        .singer-msg {
            display: inline-block;
            margin-top: 8px;
            width: calc(100% - 62px);
            padding: 0 15px;
        }
        .singer-name {
            font-weight: bold;
            color: #333;
        }
        // .recommend-singer-alias {
            
        //     color: #666;
        //     font-size: 12px;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     white-space: nowrap;
        // }
        .singer-description {
            color: #666;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .singer-apply {
        height: 30px;
        width: 100%;
        color: #333;
        font-size: 12px;
        font-weight: bold;
    }
}